[crio]
version_file = "/var/lib/crio/version"

[crio.runtime]
cgroup_manager = {{ container_runtime_cgroup_driver | to_json }}
default_sysctls = {{ container_runtime_default_sysctls | to_json }}
log_size_max = {{ container_runtime_max_log_size }}
default_env = {{ container_runtime_default_environment | to_json }}

[crio.runtime.runtimes.runc]
{% if cri_o_runc_runtime_path.stat.exists %}
runtime_path = "{{ cri_o_runc_runtime_path.stat.path }}"
{% endif %}

[crio.image]
registries = {{ container_runtime_registries | to_json }}
insecure_registries = {{ container_runtime_insecure_registries | to_json }}
